/* muss mit link verlinkt werden im header */

/* Schrift ändern geht über import von google fonts, da kann man sich dann was aussuchen*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Baloo 2";
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #0a4263;
     overflow-x: hidden;
}

header .hero-banner{

    padding: 0;
    text-align: center;
    color: #ffffff;
    background-color: #043552;
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper{
        padding-top: 10px;
    }
    .hero-picture{
        width: min(400px, 90vw);
        height: min(400px, 90vw);
        border-radius: 50%;
        border: 16px solid #022719; 
        background-image: url(./../img/Blaubaer_und_die_Zwergpiraten.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 0 auto;
    }

    @media (max-width:420px){
        .hero-picture{
            width: 85vw;
            border: 6px solid #022719;

        }
        .hero-banner{
            h1{
                font-size: 1.6rem
            }

            h2{
                font-size: 1.125rem
            }
        }
    }
    @media (max-width:320px){
        .hero-picture{
            width: 85vw;
            border: 4px solid #022719;

        }
    }

}

header{
    position: relative;
}


/* Navbar  */ 
.nav {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #333333;
    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.nav .head{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
}

.nav .head:hover{
    background-color: #555;
}

.nav-toggle{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.wave{
    width: 100%;
    height: 200px;
    min-width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
   
}
.wave-path{
    animation: waveFlow 6s ease-in-out infinite alternate;
}

.wave-container{
    position: absolute;
    bottom: 0;
    width: 120vw;
    height: 200px;
    overflow: hidden;
    overflow-x: hidden;

}

/* Farben */

.wave-path-back {
  fill: #0a4a52;
  animation: waveFlowBack 2s ease-in-out infinite alternate;
  animation-delay: -1s;
  opacity: 1;
  transform: translateX(5%); /* leichte Verschiebung */
}


.wave-path-front {
  fill: #135963;
  animation: waveFlowFront 2s ease-in-out infinite alternate;
  opacity: 1;
}


@keyframes waveFlowBack {
  0% {
    d: path("M0,128L20,128C40,128,80,128,120,160C160,192,200,256,240,256C280,256,320,192,360,170.7C400,149,440,171,480,160C520,149,560,107,600,122.7C640,139,680,213,720,208C760,203,800,117,840,117.3C880,117,920,203,960,234.7C1000,267,1040,245,1080,218.7C1120,192,1160,160,1200,170.7C1240,181,1280,235,1320,229.3C1360,224,1400,160,1420,128L1440,96L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z");
  }
  100% {
    d: path("M0,135L20,135C40,135,80,140,120,165C160,190,200,250,240,250C280,250,320,195,360,180C400,165,440,180,480,170C520,160,560,120,600,135C640,150,680,210,720,205C760,200,800,130,840,130C880,130,920,200,960,230C1000,260,1040,240,1080,220C1120,200,1160,175,1200,185C1240,195,1280,245,1320,240C1360,235,1400,180,1420,150L1440,120L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z");
  }
}

@keyframes waveFlowFront {
  0% {
    d: path("M0,128L20,128C40,128,80,128,120,160C160,192,200,256,240,256C280,256,320,192,360,170.7C400,149,440,171,480,160C520,149,560,107,600,122.7C640,139,680,213,720,208C760,203,800,117,840,117.3C880,117,920,203,960,234.7C1000,267,1040,245,1080,218.7C1120,192,1160,160,1200,170.7C1240,181,1280,235,1320,229.3C1360,224,1400,160,1420,128L1440,96L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z");
  }
  100% {
    d: path("M0,140L20,140C40,140,80,140,120,170C160,200,200,260,240,260C280,260,320,200,360,185.7C400,171,440,185,480,175C520,165,560,125,600,140.7C640,155,680,225,720,220C760,215,800,135,840,135.3C880,135,920,215,960,245.7C1000,275,1040,255,1080,235.7C1120,215,1160,185,1200,195.7C1240,205,1280,255,1320,249.3C1360,244,1400,185,1420,155L1440,120L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z");
  }
}


@media (max-width: 700px) {

    .nav {
        position: sticky;
        flex-wrap: wrap;
    }

    .nav-toggle {
        display: block;
        margin-left: auto;
    }

    .nav .head {
        display: none; /* Links verstecken */
        width: 100%;
        padding: 10px 0;
    }

    .nav.open a {
        display: block; /* Links sichtbar, wenn Menü offen */
    }
}






/* Main Section */
main{
    max-width: 1200px;
    margin: 0 auto;
}


main .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    margin-bottom: 80px;

}

.box{
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    border-left: 6px solid #043552;

}

main h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

main h2{
    margin-bottom: 20px;
    text-align: center;
}

.sep{
	width: 80%;
	height: 10px;
	background-color: #111111;
	margin: 70px auto;
    border-radius: 50%;
}



footer {
    background-color:#043552;
}




footer .content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

/* wenn bildschirm kleiner wird kann man mit @media 
(max-width: 600px) ein neues css da drin aufmachen 
und andere sachen definieren */