/* muss mit link verlinkt werden im header */

/* Schrift ändern geht über import von google fonts, da kann man sich dann was aussuchen*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Baloo 2";
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #0a4263;
    
}

header .hero-banner{

    padding: 0;
    text-align: center;
    color: #ffffff;
    background-color: #043552;
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper{
        padding-top: 10px;
    }
    .hero-picture{
        width: min(400px, 90vw);
        height: min(400px, 90vw);
        border-radius: 50%;
        border: 16px solid #022719; 
        background-image: url(./../img/Blaubaer_und_die_Zwergpiraten.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: 0 auto;
    }

    @media (max-width:420px){
        .hero-picture{
            width: 85vw;
            border: 6px solid #022719;

        }
        .hero-banner{
            h1{
                font-size: 1.6rem
            }

            h2{
                font-size: 1.125rem
            }
        }
    }
    @media (max-width:320px){
        .hero-picture{
            width: 85vw;
            border: 4px solid #022719;

        }
    }

}


/* Navbar  */ 
.nav {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #333333;
    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.nav .head{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
}

.nav .head:hover{
    background-color: #555;
}

.nav-toggle{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px) {

    .nav {
        position: sticky;
        flex-wrap: wrap;
    }

    .nav-toggle {
        display: block;
        margin-left: auto;
    }

    .nav .head {
        display: none; /* Links verstecken */
        width: 100%;
        padding: 10px 0;
    }

    .nav.open a {
        display: block; /* Links sichtbar, wenn Menü offen */
    }
}






/* Main Section */
main{
    max-width: 1200px;
    margin: 0 auto;
}


main .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    margin-bottom: 80px;

}

.box{
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    border-left: 6px solid #043552;

}

main h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

main h2{
    margin-bottom: 20px;
    text-align: center;
}

.sep{
	width: 470px;
	height: 10px;
	background-color: #111111;
	margin: 70px auto;
    border-radius: 50%;
}



footer {
    background-color:#043552;
}




footer .content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}
















/* header */

/*



main .row{  
    gap: 16px;
    max-width: 100%;
    margin: 0 auto; 
}
.box{
    padding: 16px;
}


p.caption {
    font-size: 14px;
    line-height: 0;
    margin-bottom: 20px;
    padding-top: 20px;
}

main .img{
    width: 300px;
    max-height: 200px;
}
main .haus img{
    height: 400px;
    padding-top: 20px;
}


p, ul, ol{
    font-size: 20px;
    line-height: 30px;
}

ol{
    padding-left:20px
}

ul{
    padding-left: 25px;
}

a {
    color: rgb(255, 186, 112, 1);
}

a:hover{
    color: rgb(156, 49, 49);
}

ul {
    padding-bottom: 40px;
}

.Zamonien{
    

   .Bekannte-Orte{
    position: relative;
    left: 550px;
    bottom: 370px;

   }

   h2{
    font-size: 40px;
    text-align: center;
    padding: 40px 0 40px 0;

   }
   h3{
    text-decoration: underline;
   }

   img{
    max-width: 500px;


   }
}


*/


/* footer */

/*



*/

/* wenn bildschirm kleiner wird kann man mit @media 
(max-width: 600px) ein neues css da drin aufmachen 
und andere sachen definieren */